body{background-image:url('https://wallpapercave.com/wp/wp4772274.jpg');
}

.footer {
  padding: 500px;
  text-align: center;
  background-image: url('https://wallpapercave.com/wp/wp6022542.jpg');
  margin-top: 20px;
}
